# Dependencies
/backend/vendor/
/client/node_modules/

# Environment
/backend/.env
/client/.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Laravel
/backend/storage/*.key
/backend/storage/framework/cache/*
/backend/storage/framework/sessions/*
/backend/storage/framework/views/*
/backend/storage/logs/*
/backend/bootstrap/cache/*
/backend/openapi.json

# Testing
/backend/.phpunit.result.cache
/backend/coverage/

# Build
/client/.nuxt/
/client/.output/
/client/dist/
