includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/
    level: 8
    ignoreErrors:
        - identifier: trait.unused
          path: app/Modules/Shared/Models/Concerns/ReadOnlyModel.php
